:root {
    --frame_dark: #393e46;
    --page_dark: #222831;
    --image_dark: black;
    --image_text_dark: #b9d0f1;
}

::-webkit-scrollbar { 
    display: none;  /* Chrome Safari */
}


* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

div.page {
    position: relative;
    background: var(--page_dark);
    width: 100vw;
    height: 100vh;
    border: 10px solid var(--frame_dark)
}

div.image {
    position: absolute;
    /* background: var(--image_dark); */
    color:  var(--image_text_dark);

    top: 5px;
    bottom: 5px;
    right: 5px;
}

div.wrappernav {
    position: absolute;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
}

div.nav {
    position: absolute;
    background: var(--image_dark);
    color:  var(--image_text_dark);
    width: 5%;
    top: 5px;
    bottom: 5px;
    right: 10px;
}

div.wrappertext {
    position: absolute;
    width: 95%;
    top: 0;
    bottom: 0;
    left: 0;
}

div.text {
    position: absolute;
    background: var(--image_dark);
    color:  var(--image_text_dark);
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 15px;
}

#outer {
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 100!;
    margin: 0px auto;
}

#inner{
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-right: 15px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    /* overflow-y:scroll; */
    /* overflow-x:hidden; */
}

img {
    height: 300px;
    width: 450px;
    border: 5px solid var(--image_text_dark);
}

.relative_container {
    position: relative;
}

.relative_container h1 {
    position: absolute;
    top: 0;
    left: 16px;
    font-size: 5rem;
    color: var(--image_text_dark);
}

div .animated {
    position: absolute;
    top: 5px;

    color: pink;
    animation-name: tuto;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 40s;
    animation-delay: -10s;
    animation-iteration-count: infinite;
    /* animation: position 5s linear infinite reverse; */
}
div .animated2 {
    position: absolute;
    top: -836px;
    right: 5px;
    color: pink;
    animation-name: tuto2;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 40s;
    /* animation-delay: 19.2s; */
    animation-iteration-count: infinite;
    /* animation: position 5s linear infinite reverse; */
}
/* I Put here Some New Css Design */
.hide {
    display: none;
}

.navbar {
    position: relative;
    top: 0;
    left: 67%;
    /* transform: translateX(223%); */
    height: 100%;
    width: 62px;
    /* border-left: 1px solid black; */
    background: linear-gradient(0deg, rgba(0,0,0,0) 13%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 91%);
    color: white;
    padding: 11px;
}

.icons {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    font-size: 2.5rem;
    color: var(--image_text_dark);
}

.welcome_text  h1{
    color: var(--image_text_dark);
    font-size: 7rem;
}

.welcome_text {
    position: absolute;
    left: 50px;
    top: 30px;
}

.group {
    text-align: center;
    font-size: 1.5rem;
    color: var(--image_text_dark);
}

.group a {
    color: var(--image_text_dark);
    text-decoration: none;
    margin-right: 30px;
}



@keyframes position {
    from {top: -100%}
    100% {top: 100%}
}

@keyframes tuto {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}
@keyframes tuto2 {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}