:root {
    --frame_dark: black;
    --page_dark: grey;
    --image_dark: black;
    --image_text_dark: white;
}

::-webkit-scrollbar { 
    display: none;  /* Chrome Safari */
}


* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

div.page {
    position: relative;
    background: var(--page_dark);
    width: 100vw;
    height: 100vh;
    border: 10px solid var(--frame_dark)
}

div.image {
    position: absolute;
    background: var(--image_dark);
    color:  var(--image_text_dark);
    width: 40%;
    top: 5px;
    bottom: 5px;
    right: 5px;
}

div.wrappernav {
    position: absolute;
    width: 60%;
    top: 0;
    bottom: 0;
    left: 0;
}

div.nav {
    position: absolute;
    background: var(--image_dark);
    color:  var(--image_text_dark);
    width: 10%;
    top: 5px;
    bottom: 5px;
    right: 10px;
}

div.wrappertext {
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
}

div.text {
    position: absolute;
    background: var(--image_dark);
    color:  var(--image_text_dark);
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 15px;
}

#outer {
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 100!;
    margin: 0px auto;
}

#inner{
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-right: 15px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    /* overflow-y:scroll; */
    /* overflow-x:hidden; */
}

img {
    height: 300px;
    width: 450px;
}

div .animated {
    position: absolute;
    top: 5px;
    left: 50%;
    color: pink;
    animation-name: tuto;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-duration: 20s;
    animation-delay: -5s;
    animation-iteration-count: infinite;
    /* animation: position 5s linear infinite reverse; */
}


@keyframes position {
    from {top: -100%}
    100% {top: 100%}
}

@keyframes tuto {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}